
<h1>Todos List</h1>
<div>
    <input type="search" >
    <button (click)="submit($event)">submit</button>
    <button a [routerLink]="['/addtaskdata']">add taskdata</button>

    <table>
        <tr>
            <th>userid</th>
            <th>id</th>
            <th>title</th>
            <th>body</th>
        </tr>
        <tr *ngFor="let task of taskdata">
            <td>{{task.userId}}</td>
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>{{task.completed}}</td>
        </tr>
    </table>
</div>