<body style="background-color: rgb(255, 255, 255);">
    <div class="col"><br>
        <a href="http://www.growelsoftech.com/index.php"><img src="../../assets/growel1.jpg"
                style="margin-right:19%;margin-left: 2%; border-radius:50px 10px 50px 10px;"></a>
        <a href="http://www.growelsoftech.com/index.php"><button
                style="background-color: rgb(77, 192, 238);">Home</button></a>
        <a href="http://www.growelsoftech.com/index.php"><button>Services </button></a>
        <a href="http://www.growelsoftech.com/index.php"><button>About us</button></a>
        <a href="http://careers.growelsoftech.com/"><button style="width: 180px;">Career Opportunities</button></a>
        <a href="http://www.growelsoftech.com/testimonials.php"><button style="width: 120px;">Testimonials</button></a>
        <a href="http://www.growelsoftech.com/index.php#clients"><button>Clients</button></a>
        <a href="http://www.growelsoftech.com/contact-us.php"><button> Contact us</button></a>
    </div>
    <br>
    <div class="container">
        <img src="../../assets/growel images`.png" alt="growel"
            style="width:100%; height: 600px; background-color: rgb(201, 201, 201)">
        <div class="content">
            <h1>Career Opportunities</h1>
            <h4>Get relevant job<br>
                Start your future here...</h4><br>
            <button
                style="background-color:rgb(187, 3, 3); color:white; width: 30%; height: 50px; margin-right: -30px;">SearchJob</button>

        </div>

        <div>
            <button class="w3-button w3-display-left w3-black" (click)="plusDivs(-1)"
                style="width:8%; height:50px; font-size: 25px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">&#10094;</button>
            <button class="w3-button w3-display-right w3-black" (click)="plusDivs(1)"
                style="width:8%; height:50px; font-size: 25px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; margin-top: 50px;">&#10095;</button>

        </div>
        <div>
            <h1
                style="font-size: 50px; width: 100%; height: auto; text-align: center; background-color: rgb(255, 255, 255);">
                <a href="http://careers.growelsoftech.com/">Services</a></h1>
            <div>
                <img src="../../assets/Backgrounds-03.jpg" style="height: 500px; width:100%;">
                <button style="margin-left: 45%;">SHARE</button>
            </div>
        </div>
        <div>
            <h1 style="font-size: 50px; width: 100%; height: auto; background-color: rgb(255, 255, 255); text-align:  center;font-family: Georgia, 'Times New Roman', Times, serif;">
                <a href="http://careers.growelsoftech.com/">About Us</a></h1>
            <div>
                <img src="../../assets/background-2.jpg" alt="tree"
                    style="height: 500px; width: 100%; background-color: rgb(175, 137, 155);;">
                <p style="margin-top: -470px; font-size: 20px; font-family:Georgia, 'Times New Roman', Times, serif;">
                    Growel Softech is a leading end-to-end
                    Staffing solutions company with a focus on Executive Search, Recruitment, Learning
                    and Temporary Staffing services to domesticand international client’s organizations.
                    Growel Softech has been in the business of People Consulting and Services since 1999.
                    Growel softech are actively engagedin consulting top-notch companies and providing
                    them with Staffing Solutions and HR Services. Our specialization lies inunderstanding
                    companyneeds, and providing an accurate match of candidates to meet the needs of
                    our partner organizations within defined timeframes.</p>
                <p style="font-size: 20px; font-family:Georgia, 'Times New Roman', Times, serif;">
                    SAs a corporation, we believe in building a relationship that is based on trust and long
                    term commitment. Our experience of more than a 15 Years coupled with specific industry
                    expertise give us the competence to meet the most challenging of assignments. With a
                    strong team we make it our business to understand every employer's individual need and
                    closely match it with our profile of candidate. Think of Growel Softech as your
                    "one-stop solution" for all your workforce needs. Think of us as a valued addition
                    to your own human resources team.</p>
                <h1><button style="margin-left: 45%;">SEE MORE</button></h1>
            </div>
        </div>
        