.field{
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    color: white;
    border: 2px solid #000ed3;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
}
.degin{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
    margin: auto;
    color: white;
    border: 2px solid rgb(75, 0, 214);
border-radius: 20px;
}
.button{
    margin-left:130px;
    border-radius: 10px;
}
.pt1{
    margin-left: 80px;
}
.pt2{
    margin-left: 58px;
  
}
.input1{
    margin-left: 20px;}
.input2{
    margin-left: 15px;

}

@media screen and(max-width: 650px){
    .login, .log {
        width: 100%;
    }
}