#news1{
    background-color: rgba(19, 180, 180, 0.521);
    padding-block-start: 100px;
    font-size-adjust: inherit;
    width: 80%;
    border: 20px solid rgb(43, 1, 143);
    border-radius: 50px;
    border-bottom-color: rgb(138, 0, 0);
    border-bottom-left-radius: 70px 70px;
    padding: 40px;    
    margin: auto;
}
h3{
    background-color: rgb(255, 255, 255);
    width: auto;
}

p{
    font-size-adjust: inherit;
    width: 100%;
}
input{
    border-radius: 30px;
    padding: 20px;
    border: 10px solid rgb(231, 224, 224);
    font-size: 20px;
}
button{
    width: 100%;
    font-size: 40px;
}