.field{
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    color: white;
    border: 2px solid #000ed3;
    border-radius: 20px;
    padding: 10px;
}
.degin{
    background-color: rgb(0, 0, 0);
    width: 90%;

    margin: auto;
    color: white;
    border: 2px solid rgb(75, 0, 214);
border-radius: 20px;
height: auto;
}

@media screen and(max-width: 300px){
    .sin, .signup {
        width: 100%;
    }
}
.signup{
    margin:auto; 
    text-align: center;
}