<body style="background-color: rgb(253, 243, 106)">
<!-- <div style="background-color: rgb(219, 63, 63);"> -->
<div *ngFor="let inco of incor" >
   <p style="background-color: rgb(179, 215, 248); color:rgb(0, 0, 0); font-size: 30px;"> {{inco.userId}}</p>
   <p style="background-color: rgb(172, 253, 165);color:black;  font-size: 35px;">{{inco.id}}</p>
   <p style="background-color: rgb(172, 253, 165);color:black;  font-size: 35px;">{{inco.title}}</p>
   <p style="background-color: rgb(172, 253, 165);color:black;  font-size: 35px;">{{inco.body}}</p>

</div>
<!-- </div> -->
</body>