<body style="background-color: rgb(204, 204, 204);">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnave">
    <a class="active" href="#https.www.home.component">Home</a>
    <a href="#https.www.services.file">Services</a>
    <a href="# https.www.About us.file">About us</a>
    <a href="# https.www.Contact Us.file">Contact Us</a>
    <a href="#https.www.News.file">News</a>
</div>
<hr style="background-color: black;">

<div style="float: right 10px; margin-right: -50%; ">
    <img src="../../assets/growel images`.png" alt="growel" style="background-color:rgb(252, 154, 255); width: 70%;height: 480px;">

    <div class="sidenavibar" style="background-color:rgb(0, 0, 0); margin-top:-455px;">
        <a class="active" href="#https.www.home.component">Home</a><br>
        <a href="#https.www.services.file">Services</a><br>
        <a href="# https.www.About us.file">About us</a><br>
        <a href="# https.www.Contact Us.file">Contact Us</a><br>
        <a href="#https.www.News.file">News</a>
    </div>
    <h1 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">A simple primary alert—check it out!</h1>
    <br>
    <br>
    <br>
    <div class="sidenavibar" style="background-color:rgb(226, 31, 31);">
        <a class="active" href="#https.www.home.component">Home</a><br>
        <a href="#https.www.services.file">Services</a><br>
        <a href="# https.www.About us.file">About us</a><br>
        <a href="# https.www.Contact Us.file">Contact Us</a><br>
        <a href="#https.www.News.file">News</a>
    </div>
</div>


<br><br><br> <br>
<a href="#facebook" style="font-size: 30px; background-color: rgb(0, 46, 252);padding: 20px 30px;float:  30px;"
    class="fa fa-facebook"></a><br><br>
<a href="# twitter" style="font-size: 30px; background-color: rgb(255, 0, 0);padding: 20px 30px;"
    class="fa fa-twitter"></a><br><br>
<a href="#youtube" style="font-size: 60px; background-color: rgb(224, 29, 3);padding: 30px 100px; border-radius: 40px;"
    class="fa fa-youtube"></a><br><br>
<button style="font-size: 30px; background-color: rgb(255, 0, 98);padding: 10px 20px;">check it</button>

<br>
<br><br>
<br><div>
<button class="buttonlodeing" style="background-color: rgb(112, 253, 182); padding: 20px 30px; font-size: 25px;">
    <i class="fa fa-spinner fa-spin"></i>Loading0
</button>&nbsp;&nbsp;&nbsp;
<button class="buttonlodeing" style="background-color: rgb(109, 109, 134);  padding: 20px 30px; font-size: 25px;">
    <i class="fa fa-circle-o-notch fa-spin"></i>Loading1
</button>&nbsp;&nbsp;&nbsp;
<button class="buttonlodeing" style="background-color: rgb(194, 122, 158);  padding: 20px 30px; font-size: 25px;">
    <i class="fa fa-refresh fa-spin"></i>Loading2
</button>&nbsp;&nbsp;&nbsp;
<button class="buttonlodeing" style="background-color: rgb(39, 182, 98);  padding: 20px 30px; font-size: 25px;">
    <i class="fa fa-star fa-spin"></i>Loading2
</button>
</div>
<br>
<div>
<button class="btn" style="font-size: 30px; background-color: blue; color: black; padding: 15px 25px;"><i class="fa fa-download"></i> Download</button>
</div>
<div>
    
<p>Icon buttons with text:</p>
<button class="btn1"><i class="fa fa-home"></i> Home</button>&nbsp;
<button class="btn1"><i class="fa fa-bars"></i> Menu</button>&nbsp;
<button class="btn1"><i class="fa fa-trash"></i> Trash</button>&nbsp;
<button class="btn1"><i class="fa fa-close"></i> Close</button>&nbsp;
<button class="btn1"><i class="fa fa-folder"></i> Folder</button>

</div>

</body>









