<div style="background-color:gray; color: beige ; height: 140px; padding: 5px" >
    <h1>Test Yourself With Exercises!</h1>
    <button> Exercise 1 >></button>
    <button> Exercise 2 >></button>
    <button> Exercise 3 >> </button>
    <button> Exercise 4 >></button>
    <button> Exercise 5 >></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="search" name="search" style="background-color:rgb(162, 162, 255)">
    <button style="margin-right:40px;">Next</button>
    <img src="../../assets/wp2521782.jpg" alt="anmal" style="width:100%; height: 450px;">
</div>
