<body>
    
    <div class="container-fluid bg-dark">  
            <a  href="http://localhost:4200/bookhome" class="anc"><img src="../../assets/559404-istock-512966920_0.webp" alt="ssd" width="200px;" height="70px"
                    class="degin1" style="background-color: red;"></a>
        <label class="text-primary">book details</label>
    </div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <img src="{{library['book_url']}}" class="img">
        </div>
<div class="card-body">
        <p> <strong>id:</strong>{{library['id']}}</p>
        <p><strong>title:</strong>{{library['title']}}</p>
        <p> <strong>created:</strong>{{library['created']}}</p>
        <p><strong>price:</strong>{{library['price']}}</p>
        <p><strong>updated:</strong>{{library['updated']}}</p>
        <p><strong>description:</strong>{{library['description']}}</p>
</div> 
<div class="card-footer">
    <button (click)="buy()" class="bt" >Buy</button>

</div>
    </div>
    <br>
</div>
</body>

<!-- <p>{{book.author.email}}</p>
    <p>{{book.author.name}}</p>
    <img src="{{book.book.book_url}}" alt="img" width="40px" height="40px">
    <p>{{book.book.created}}</p>
    <p>{{book.book.description}}</p>
    <p>{{book.book.id}}</p>
    <p>{{book.book.title}}</p> -->