.log{color: white;
    background-color: rgb(179, 173, 173);
    margin: auto;
    width: 30%;
    height: 450px;
    border-radius: 35px;
    
}
input{
    padding: 10px;
    border-radius: 35px;
    font-size: 25px;
    width: 90%;
    height:35px;
}
h2{
    color: rgb(0, 0, 0);
    background-color: rgb(179, 173, 173);    font-size: 30px;
    margin-left:20px;
}
button{
    color: rgb(2, 1, 1);
    background-color: rgb(78, 78, 78);    margin-left:150px;
    width: 30%;
    height: 50px;
    font-size: 35px;
    border-radius: 25px;
}
h1{
    color: rgb(0, 0, 0);
    background-color: rgb(65, 63, 63);    font-size: 40px;
    text-align: center;
}

