<body style="background-color: rgb(110, 226, 87); height: auto;">
    <div class="jumbotron text-center">
        <h1>colorsoftwere pv.ltd</h1>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>colorssoftwere</h1>
                <p>good morning star</p>
                <img src="../../assets/background.jpg" alt="colors1">
            </div>
            <div class="col-md-4">
                <h1>coloressoftwere pvt</h1>
                <p>good evening all</p>
                <img src="../../assets/background-2.jpg" alt="colors">
            </div>
            <div class="col-md-4">
                <h1>colors-softwere</h1>
                <p>good afternoon</p>
                <img src="../../assets/Backgrounds-03.jpg" alt="colors2">
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>hello new examples</h1>
                <label>Username:</label>
                <label><input type="text" placeholder=" Enter Username"></label>
                <label>Password :</label>
            <label><input type="password" name="password" placeholder="Enter Password"></label>
            </div>
        </div>
    </div>
</body>